.register-link {
  font-size: 29px;
  text-decoration: none;
  color: #797979;
  font-weight: 500;
}
.login-link {
  font-size: 29px;
  text-decoration: none;
  color: #ff6363;
  font-weight: 500;
}

.forgot-password {
  text-decoration: none;
  color: #797979;
  font-weight: 500;
  font-size: 16px;
}
.form-check-label {
  color: #797979;
  font-weight: 500;
  font-size: 16px;
}
